/* billing.css */
.popup-inner {
    background-color: gray;
    padding: 20px;
    border-radius: 10px;
    width: 50%;
    text-align: center;
}
.textbox:focus + .ilabel,
.textbox:not(:placeholder-shown) + .ilabel {
    top: 0.2rem; 
    left: 0.8rem; 
    font-size: 12px;  
    background-color: blanchedalmond;
}
