@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

body {
    /* background-color: #1f2937 !important; */
    background-color: #0969ee !important;
    font-family: 'Inter', sans-serif;
    font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  /* background-color: #f4f4f4 !important; */
  color: black !important; /* Change the text color to white */
}
