@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

body {
    background-color: rgba(255, 255, 255, 0.826) !important;
    font-family: 'Inter', sans-serif;
    font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  /* background-color: #f4f4f4 !important; */
  color: black !important; /* Change the text color to white */
}
/* Assuming you have a global stylesheet or tailwindcss config file */

/* Hover effects for sidebar items */
.sidebar-item:hover {
  background-color: #006fe6; /* Darker blue on hover */
  cursor: pointer;
}

.w-250 {
  width: 250px;
}

.w-60 {
  width: 60px;
}

.transition-all {
  transition: all 0.3s ease;
}

/* Custom CSS for sidebar links */
.nav-link {
  text-decoration: none; /* Remove underline */
  font-size: 1.125rem; /* Increase font size */
  color: white; /* Ensure the text remains white */
}

.nav-link:hover {
  color: #f0f0f0; /* Optional: Change hover color */
}

/* App.css */
.navbar-gradient {
  background: linear-gradient(to right, #1E90FF, #004AAD); /* Adjust colors as needed */
  color: white;
}

.navbar-gradient .navbar-brand,
.navbar-gradient .nav-link {
  color: white !important;
}

.navbar-gradient .nav-link:hover {
  color: #e0e0e0 !important; /* Lighter color on hover */
}

